.main
  .sidebar
    .sidebar_header
      .sidebar_header_center
        %p 
          = current_user.name
        .sidebar_header_center-icon
          = link_to(content_tag(:i, '', class: 'fa fa-edit'), "", method: :get) 
          = link_to(content_tag(:i, '', class: 'fa fa-cog'), "", method: :get) 
    .sidebar_main
      .sidebar_main_center
        = render partial:"sidebar" 
  .chat
    .chat_top
      .chat_top_center
        .chat_top_center-info
          .chat_top_center-info-name test_group
          .chat_top_center-info-member Members : koyo
        .chat_top_center-edit
          = link_to 'Edit',"/users/sign_out",method: :delete,class: "chat_top_center-edit-boton"
    .chat_main
      .chat_main_center
        = render partial:"chatMessage"
    .chat_send
      .chat_send_center
        %input{class:"chat_send_center-detail",type:"text",placeholder:"type a message"} 
        %label{class:"chat_send_center-icon",for:"message_image"}
          %i.fa.fa-image
          %input{class:"chat_send_center-icon-file",type:"file",name:"message[image]",id:"message_image"}
        .chat_send_center-botom
          = link_to "Send","",class: "chat_send_center-botom-detail"