.side-bar
  .header
    %h3.header__name
      = current_user.name
    %ul.header__lists
      %li.list
        = link_to(content_tag(:i, '', class: 'fa fa-edit'), new_group_path, method: :get) 
      %li.list
        = link_to(content_tag(:i, '', class: 'fa fa-cog'), "/users/#{current_user.id}/edit", method: :get) 
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message